<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>invlaid comment</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
<h3>you left the input blank please try again</h3>
<a href="/user">
	<button class="btn btn-default">try again</button>
</a>
<style>
	h3 {
		color: red;
	}
</style>	
</body>
</html>