{% extends "base.html" %}
{% block content %}
<h1>messaging</h1>
<form method="post" action="/store">
	<label>
		enter your message here:
	<input type="text" name="post" id="message">
	</label>
	<button class="btn btn-success-outline">submit</button>
</form>

<form action="/user">
	<button class="btn btn-secondary">refresh</button>
</form>

<form action="/delete">
	<button class="btn btn-danger-outline">clear</button>
</form>

	
		<h2>messaging</h2>

			{% for item in query %}
				<p>{{ item.content }}</p>
			{% endfor %}

<style>
	form {
		padding-top: 10px;
	}
</style>			

{% endblock %}